.container {
                        /* Used to position the faded element */
                        position: relative;
                    }

                    .container__content {
                        /* Height */

                        /* Scrollable */
                        overflow-y: scroll;
                    }

                    .container__fading {
                        /* Displayed at the bottom */
                        bottom: 0;
                        left: 0;
                        position: absolute;

                        /* Size */
                        height: 30px;
                        width: 100%;

                        /* Gradient background */
                        background: linear-gradient(rgba(255, 255, 255, 0.01), #fff);
                    }

